<!-- CHART CSS DESIGN  -->
<%- include("../../partials/dashboard/utils/apexcharts-frontSettings.ejs") %>
<%- include("../../partials/dashboard/utils/left_sided_chart.ejs") %>


<!-- CUSTOM DESIGN -->
<%- include("../../partials/dashboard/utils/pageBtnStyle.ejs") %>


<!-- BIG NUMBER FORMAT -->
<%- include("../../partials/dashboard/styles/big_numbers.ejs") %>
<% total_records = new Intl.NumberFormat().format(total_records); %>
<% total_sum = new Intl.NumberFormat().format(total_sum); %>
<% total_authors = new Intl.NumberFormat().format(total_authors); %>
<% total_books = new Intl.NumberFormat().format(total_books); %>
<% total_publishers = new Intl.NumberFormat().format(total_publishers); %>


<!-- NUMBER FORMAT -->
<% avgPagCat.max.data = new Intl.NumberFormat().format(avgPagCat.max.data); %>
<% avgPagCat.min.data = new Intl.NumberFormat().format(avgPagCat.min.data); %>
<% avgPriCat.max.data = new Intl.NumberFormat().format(avgPriCat.max.data); %>
<% avgPriCat.min.data = new Intl.NumberFormat().format(avgPriCat.min.data); %>


<!-- BIG NUMBERS -->
<div class="bigNumbers">
    <div class="bn-card bn-c-1">
        <div class="bn-card-header">
            <p>Registros Coletados</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_records %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-2">
        <div class="bn-card-header">
            <p>Valor Total</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right bn-c-2p">
                <p>R$<%= total_sum %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-3">
        <div class="bn-card-header">
            <p>Total de Autores</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_authors %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-4">
        <div class="bn-card-header">
            <p>Total de Livros</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_books %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-5">
        <div class="bn-card-header">
            <p>Total de Editoras</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_publishers %></p>
            </div>
        </div>
    </div>
</div>


<!-- TIPO x FREQUÊNCIA -->
<div class="left-sided-chart">
    <div id="chartTypRev" class="left-chart-class"></div>

    <div class="content-card">
        <div class="cnt-card cnt-c1">
            <span>CATEGORIA COM MAIOR MÉDIA PÁGINAS</span>

            <p class="cnt-card-p1"><%= avgPagCat.max.name %></p>
            <p class="cnt-card-p2"><span><%= avgPagCat.max.data %></span> páginas</p>
        </div>

        <div class="cnt-card cnt-c2">
            <span>CATEGORIA COM MENOR MÉDIA PÁGINAS</span>

            <p class="cnt-card-p1"><%= avgPagCat.min.name %></p>
            <p class="cnt-card-p2"><span><%= avgPagCat.min.data %></span> páginas</p>
        </div>
    </div>
</div>


<!-- PREÇO x PÁGINAS -->
<div class="left-sided-chart">
    <div class="content-card">
        <div class="cnt-card cnt-c1">
            <span>CATEGORIA COM PREÇO MÉDIO MAIOR</span>

            <p class="cnt-card-p1"><%= avgPriCat.max.name %></p>
            <p class="cnt-card-p2"><span>R$<%= avgPriCat.max.data %></span></p>
        </div>

        <div class="cnt-card cnt-c2">
            <span>CATEGORIA COM PREÇO MÉDIO MENOR</span>

            <p class="cnt-card-p1"><%= avgPriCat.min.name %></p>
            <p class="cnt-card-p2"><span>R$<%= avgPriCat.min.data %></span></p>
        </div>
    </div>
    
    <div id="chartPriPag" class="left-chart-class"></div>
</div>


<!-- PAGE NAV -->
<div class="pageBtnDiv">
    <div class="BtnDiv BtnDivLeft">
      <a href="/visao_geral_2"> <span class="iconify pageBtn-icon" data-icon="grommet-icons:form-next-link" data-rotate="180deg"></span> </a>
    </div>

    <a href="/visao_geral" class="otPages"> <h6>1</h6> </a>
    <a href="/visao_geral_2" class="otPages"> <h6>2</h6> </a>
  
    <div class="actPageDiv">
      <h6>3</h6>
    </div>

    <a href="/visao_geral_4" class="otPages"> <h6>4</h6> </a>
  
    <div class="BtnDiv BtnDivRight">
      <a href="/visao_geral_4"> <span class="iconify pageBtn-icon" data-icon="grommet-icons:form-next-link"></span> </a>
    </div>
</div>


<!-- Freq type -->
<script type="text/javascript">
    var aux = JSON.parse(`<%- seriesTyp %>`)
    var categories = JSON.parse(`<%- categoriesTyp %>`)
    series = [{name: "Total de registros", data: aux[0].data}]

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
          title: {
              text: 'Número Total de Registros'
          }
        },
        yaxis: {
            title: {
                text: 'Tipo de Acabamento'
            }
        },
        title: {
            text: 'Frequência de cada Tipo de Acabamento do Livro'
        }
    };

    var chartTypRev = new ApexCharts(document.querySelector("#chartTypRev"), options);
    chartTypRev.render();
</script>


<!-- Price x Pages -->
<script type="text/javascript">
    var series = `<%- seriesPriPag %>`

    var options = {
    series: JSON.parse(series),
        chart: {
            height: 350,
            type: 'scatter',
            zoom: {
                enabled: true,
                type: 'xy',
            },
            animations: {
                enabled: false,
                speed: 175
            }
        },
        xaxis: {
            tickAmount: 10,
            labels: {
                formatter: function(val) {
                    return parseFloat(val).toFixed(1)
                }
            },
            title: {
                text: 'Preço'
            }
        },
        yaxis: {
            tickAmount: 7,
            title: {
                text: 'Número de Páginas'
            }
        },
        title: {
            text: 'Correlação entre Preço e o Número de Páginas'
        }
    };

    var chartPriPag = new ApexCharts(document.querySelector("#chartPriPag"), options);
    chartPriPag.render();
</script>

