<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		<%- include("partials/headTag.ejs") %>
		
		<%- include("partials/dashboardStyle.ejs") %>
	</head>

	<body>
		<div class="content">
			<%- include("partials/sidebarStyle.ejs") %>
	
			<div class="dashboard">
				<%- include("partials/dashContentTitle.ejs") %>

				<div class="graphs">
					<%- body %>
				</div>
			</div>
		</div>

		<%- include("partials/jsReload.ejs") %>
	</body>
</html>
