<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
	<head>
		<%- include("partials/dashboard/content/headTag.ejs") %>
		
		<%- include("partials/dashboard/styles/dashboardStyle.ejs") %>
	</head>

	<body>
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

		<div class="content">
			<%- include("partials/dashboard/content/sidebarContent.ejs") %>
	
			<div class="dashboard">
				<%- include("partials/dashboard/content/dashContentTitle.ejs") %>
				
				<div class="graphs">
					<%- body %>
				</div>
			</div>
		</div>

		<%- include("partials/dashboard/content/jsReload.ejs") %>
		<%- defineContent("scripts") %>
	</body>
</html>
