<!-- CHART CSS DESIGN  -->
<%- include("../partials/dashboard/utils/apexcharts-frontSettings.ejs") %>
<%- include("../partials/dashboard/utils/equal_chart.ejs") %>
<%- include("../partials/dashboard/utils/left_sided_chart.ejs") %>


<!-- CUSTOM DESIGN -->
<%- include("../partials/dashboard/styles/authorsStyle.ejs") %>


<!-- NUMBER FORMAT -->
<% mostAvgStar.data = new Intl.NumberFormat().format(mostAvgStar.data); %>
<% mostConsistent[0].freq = new Intl.NumberFormat().format(mostConsistent[0].freq); %>
<% mostReviewed[0].reviews = new Intl.NumberFormat().format(mostReviewed[0].reviews); %>
<% mostExpensive[0].avgPrice = new Intl.NumberFormat().format(mostExpensive[0].avgPrice); %>
<% leastExpensive[0].avgPrice = new Intl.NumberFormat().format(leastExpensive[0].avgPrice); %>


<div class="best_rated_author">
  <p> Com uma média final de <span class="sp_stars"><%= mostAvgStar.data %></span> estrelas, <span class="sp_autName"><%= mostAvgStar.name %></span> obteve a melhor média de avaliações </p>
</div>


<!-- RIGHT MAP -->
<div class="left-sided-chart">
  <div class="cnt-pie-chart-parent">
      <div id="chartPieRev" class="cnt-pie-chart-child"></div>
  </div>
  
  <div id="chartTreeFreq" class="left-chart-class"></div>
</div>


<!-- PREÇO x AUTOR -->
<div class="left-sided-chart">
  <div id="chartPriAut" class="left-chart-class"></div>

  <div class="content-card">
      <div class="cnt-card cnt-c1">
          <span>AUTOR MAIS CONSISTENTE</span>

          <p class="cnt-card-p1"><%= mostConsistent[0].autName %></p>
          <p class="cnt-card-p2"><span><%= mostConsistent[0].freq %></span> registros</p>
      </div>

      <div class="cnt-card cnt-c2">
          <span>AUTOR COM MAIS AVALIAÇÕES</span>

          <p class="cnt-card-p1"><%= mostReviewed[0].autName %></p>
          <p class="cnt-card-p2"><span><%= mostReviewed[0].reviews %></span> avaliações</p>
      </div>
  </div>
</div>


<!-- AUTORES MAIS CONSISTENTES -->
<div class="left-sided-chart">
  <div class="content-card">
      <div class="cnt-card cnt-c1">
          <span>AUTOR COM MAIOR MÉDIA DE PREÇOS</span>

          <p class="cnt-card-p1"><%= mostExpensive[0].autName %></p>
          <p class="cnt-card-p2"><span>R$<%= mostExpensive[0].avgPrice %></span></p>
      </div>

      <div class="cnt-card cnt-c2">
          <span>AUTOR COM MENOR MÉDIA DE PREÇOS</span>

          <p class="cnt-card-p1"><%= leastExpensive[0].autName %></p>
          <p class="cnt-card-p2"><span>R$<%= leastExpensive[0].avgPrice %></span></p>
      </div>
  </div>
  
  <div id="chartFreqAut" class="left-chart-class"></div>
</div>


<div class="equal-charts">
  <div id="chartPagAut" class="equal-chart"></div>

  <div  id="chartAutRev"class="equal-chart"></div>
</div>


<!-- <p><b>Autor com mais quantidade média de páginas:</b> <%#= mostPages[0].autName %> com <%#= mostPages[0].avgPages %> páginas</p>
<p><b>Autor com mais quantidade média de páginas:</b> <%#= leastPages[0].autName %> com <%#= leastPages[0].avgPages %> páginas</p> -->


<!-- Date x rev -->
<script type="text/javascript">
  var series = JSON.parse(`<%- seriesRev %>`)
  var categories = JSON.parse(`<%- categoriesRev %>`)

  var options = {
    chart: {
      height: 380,
      width: "100%",
      type: "line"
    },
    series: series,
    title: { text: 'Quantidade de Reviews ao longo do tempo' },
    
    xaxis: {
      categories: categories,
      title: { text: 'Tempo' }
      
    },
    yaxis: { title: { text: 'Quantidade de Reviews' } }
  };

var chartLinRev = new ApexCharts(document.querySelector("#chartLinRev"), options);
  
chartLinRev.render();
</script>


<!--PIE rev x cat -->
<script type="text/javascript">
  var series = JSON.parse(`<%- pieAvgReview %>`)
  var labels = JSON.parse(`<%- pieRevCategories %>`)

  var options = {
      series: series,
      chart: {
          type: 'donut'
      },
      title: { text: 'Média de Reviews por Autor' },
      legend: {
          show: true,
          position: 'bottom'
      },
      labels: labels,
      responsive: [
          {
              breakpoint: 1680,
              options: {
                  chart: {
                      width: '100%',
                      height: '75%'
                  },
                  legend: {
                      show: false
                  }
              }
          }
      ]
  };

  var chartPieRev = new ApexCharts(document.querySelector("#chartPieRev"), options);
  chartPieRev.render();
</script>



<!-- pages avg x autor  -->
<script>
    var aux = JSON.parse(`<%- avgPagAut %>`)
    var series = [{name: "Média de páginas", data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
          title: { text: 'Média de Páginas' }
        },
        yaxis: { title: { text: 'Autores' } },
        title: { text: 'Autores com maior média de páginas' }
    };

    var chartPagAut = new ApexCharts(document.querySelector("#chartPagAut"), options);
    chartPagAut.render();
</script>

<!-- price avg x autor  -->
<script>
    var aux = JSON.parse(`<%- avgPriAut %>`)
    var series = [{name: "Média de preço", data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
          title: {
            text: 'Média de Preço'
          }
        },
        yaxis: {
          title: { text: 'Autores' }
        },
        title: { text: 'Autores com maior média de preços' }
    };

    var chartPriAut = new ApexCharts(document.querySelector("#chartPriAut"), options);
    chartPriAut.render();
</script>

<!-- freq x autor  -->
<script>
    var aux = JSON.parse(`<%- freqAut %>`)
    var series = [{name: "Total de registros", data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
          title: { text: 'Total de Registros' }
        },
        yaxis: { title: { text: 'Autores' } },
        title: { text: 'Autores mais consistentes' }
    };

    var chartFreqAut = new ApexCharts(document.querySelector("#chartFreqAut"), options);
    chartFreqAut.render();
</script>


<!-- reviews x autor  -->
<script>
    var aux = JSON.parse(`<%- autRev %>`)
    var series = [{name: "Qtde reviews", data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
          title: { text: 'Quantidade de Reviews' }
        },
        yaxis: { title: { text: 'Autores' } },
        title: { text: 'Autores com mais Reviews' }
    };

    var chartAutRev = new ApexCharts(document.querySelector("#chartAutRev"), options);
    chartAutRev.render();
</script>

<!-- TREEMAP: AUT x FREQ -->
<script type="text/javascript">
  var series = JSON.parse(`<%- treeType %>`)

  var options = {
  series: series,
  legend: {
  show: false
  },
  chart: {
      height: '350px',
      width: '100%',
      type: 'treemap'
  },
  title: {
      text: 'Mapa de Árvore - Frequência por Autor'
  },
  dataLabels: {
      enabled: true,
      style: {
      fontSize: '16px',
      },
      formatter: function(text, op) {
      return [text, op.value]
      },
      offsetY: -4
  },
  plotOptions: {
      treemap: {
      enableShades: true,
      shadeIntensity: 0.5,
      reverseNegativeShade: true,
      colorScale: {
          ranges: [
          {
              from: -6,
              to: 0,
              color: '#CD363A'
          },
          {
              from: 0.001,
              to: 6,
              color: '#52B12C'
          }
          ]
      }
      }
  }
  };

  var chartTreeFreq = new ApexCharts(document.querySelector("#chartTreeFreq"), options);
  chartTreeFreq.render();
</script>

<br />
