<h1> <%= typeof cat[0] ? "sim" : "não" %></h1>
<h1> <%= cat[0] ? cat[0].catName : "não" %></h1>
<h1> <%= cat[1] ? cat[1].catName : "não" %></h1>
<h1> <%= cat[2] ? cat[2].catName : "não" %></h1>
<h1> <%= cat[3] ? cat[3].catName : "não" %></h1>
<h1> <%= cat[4] ? cat[4].catName : "não" %></h1>