<h1> <%= typeof catList[0] ? "sim" : "não" %></h1>
<h1> <%= catList[0] ? catList[0].catName : "não" %></h1>
<h1> <%= catList[1] ? catList[1].catName : "não" %></h1>
<h1> <%= catList[2] ? catList[2].catName : "não" %></h1>
<h1> <%= catList[3] ? catList[3].catName : "não" %></h1>
<h1> <%= catList[4] ? catList[4].catName : "não" %></h1>