
<h4>Reviews x Páginas</h4>
<div id="chartRevPag"></div>
---
<h4>Estrelas x Páginas</h4>
<div id="chartStrPag"></div>
---
<h4>Preço x Páginas</h4>
<div id="chartPriPag"></div>
--- 
<h4>Tipo x Estrelas</h4>
<div id="chartTypRev"></div>

<!-- Review x Pages -->
<script>
    var seriesRevPag = `<%- seriesRevPag %>`

    var optionsRevPag = {
        series: JSON.parse(seriesRevPag),
        chart: {
            height: 350,
            type: 'scatter',
            zoom: {
                enabled: true,
                type: 'xy'
            },
            animations: {
                enabled: false,
                speed: 175
            }
        },

        xaxis: {
            tickAmount: 10,
            labels: {
                formatter: function(val) {
                    return parseFloat(val).toFixed(1)
                }
            }
        },
        yaxis: {
            tickAmount: 7
        },
        theme: {
            palette: 'palette7'
        }
    };

    var chartRevPag = new ApexCharts(document.querySelector("#chartRevPag"), optionsRevPag);
    chartRevPag.render();
</script>

<!-- Stars x Pages -->
<script>
    var series = `<%- seriesStrPag %>`

    var options = {
    series: JSON.parse(series),
        chart: {
            height: 350,
            type: 'scatter',
            zoom: {
                enabled: true,
                type: 'xy'
            },
            animations: {
                enabled: false,
                speed: 175
            }
        },
    xaxis: {
        tickAmount: 10,
            labels: {
            formatter: function(val) {
                return parseFloat(val).toFixed(1)
            }
        }
    },
    yaxis: {
        tickAmount: 7
    }
    };

    var chartStrPag = new ApexCharts(document.querySelector("#chartStrPag"), options);
    chartStrPag.render();
</script>

<!-- Price x Pages -->
<script>
    var series = `<%- seriesPriPag %>`

    var options = {
    series: JSON.parse(series),
        chart: {
        height: 350,
        type: 'scatter',
        zoom: {
        enabled: true,
        type: 'xy',
        },
        animations: {
            enabled: false,
            speed: 175
            }
        },
    xaxis: {
            tickAmount: 10,
            labels: {
                formatter: function(val) {
                    return parseFloat(val).toFixed(1)
                }
            }
        },
        yaxis: {
            tickAmount: 7
        }
    };

    var chartPriPag = new ApexCharts(document.querySelector("#chartPriPag"), options);
    chartPriPag.render();
</script>

<!-- Count type -->
<script>
    var series = JSON.parse(`<%- seriesTyp %>`)
    var categories = JSON.parse(`<%- categoriesTyp %>`)

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
        }
    };

    var chartTypRev = new ApexCharts(document.querySelector("#chartTypRev"), options);
    chartTypRev.render();
</script>