<h6>Categoria com maior soma de reviews: <%= sumRevCat.max.data %> (<%= sumRevCat.max.name %>)</h6>
<h6>Categoria com menor soma de reviews: <%= sumRevCat.min.data %> (<%= sumRevCat.min.name %>)</h6>

<h6>Categoria com maior quantidade de autores: <%= sumAutCat.max.data %> (<%= sumAutCat.max.name %>)</h6>
<h6>Categoria com menor quantidade de autores: <%= sumAutCat.min.data %> (<%= sumAutCat.min.name %>)</h6>

<h6>Categoria com maior qtd média de paginas: <%= avgPagCat.max.data %> (<%= avgPagCat.max.name %>)</h6>
<h6>Categoria com menor qtd média de paginas: <%= avgPagCat.min.data %> (<%= avgPagCat.min.name %>)</h6>

<h6>Categoria com maior qtd média de preço: <%= avgPriCat.max.data %> (<%= avgPriCat.max.name %>)</h6>
<h6>Categoria com menor qtd média de preço: <%= avgPriCat.min.data %> (<%= avgPriCat.min.name %>)</h6>

<h6>Categoria com maior data de publi regist: <%= minMaxDate.max.data%> (<%= minMaxDate.max.name%>)</h6>
<h6>Categoria com menor data de publi regist: <%= minMaxDate.min.data%> (<%= minMaxDate.min.name%>)</h6>


<br>
<br>
<br>

<h4>Reviews x Páginas</h4>
<div id="chartRevPag"></div>
---
<h4>Estrelas x Páginas</h4>
<div id="chartStrPag"></div>
---
<h4>Preço x Páginas</h4>
<div id="chartPriPag"></div>
---
<h4>Preço x Estrelas</h4>
<div id="chartPriStr"></div>
--- 
<h4>Tipo frequencia</h4>
<div id="chartTypRev"></div>
---
<h4>Soma preço por categoria</h4>
<div id="chartPriCat"></div>
---
<h4>Contagem produto distinto por categoria</h4>
<div id="chartProCat"></div>

<!-- Review x Pages -->
<script>
    var seriesRevPag = `<%- seriesRevPag %>`

    var optionsRevPag = {
        series: JSON.parse(seriesRevPag),
        chart: {
            height: 350,
            type: 'scatter',
            zoom: {
                enabled: true,
                type: 'xy'
            },
            animations: {
                enabled: false,
                speed: 175
            }
        },

        xaxis: {
            tickAmount: 10,
            labels: {
                formatter: function(val) {
                    return parseFloat(val).toFixed(1)
                }
            }
        },
        yaxis: {
            tickAmount: 7
        },
        theme: {
            palette: 'palette7'
        }
    };

    var chartRevPag = new ApexCharts(document.querySelector("#chartRevPag"), optionsRevPag);
    chartRevPag.render();
</script>

<!-- Stars x Pages -->
<script>
    var series = `<%- seriesStrPag %>`

    var options = {
    series: JSON.parse(series),
        chart: {
            height: 350,
            type: 'scatter',
            zoom: {
                enabled: true,
                type: 'xy'
            },
            animations: {
                enabled: false,
                speed: 175
            }
        },
    xaxis: {
        tickAmount: 10,
            labels: {
            formatter: function(val) {
                return parseFloat(val).toFixed(1)
            }
        }
    },
    yaxis: {
        tickAmount: 7
    }
    };

    var chartStrPag = new ApexCharts(document.querySelector("#chartStrPag"), options);
    chartStrPag.render();
</script>

<!-- Price x Pages -->
<script>
    var series = `<%- seriesPriPag %>`

    var options = {
    series: JSON.parse(series),
        chart: {
        height: 350,
        type: 'scatter',
        zoom: {
        enabled: true,
        type: 'xy',
        },
        animations: {
            enabled: false,
            speed: 175
            }
        },
    xaxis: {
            tickAmount: 10,
            labels: {
                formatter: function(val) {
                    return parseFloat(val).toFixed(1)
                }
            }
        },
        yaxis: {
            tickAmount: 7
        }
    };

    var chartPriPag = new ApexCharts(document.querySelector("#chartPriPag"), options);
    chartPriPag.render();
</script>

<!-- Price x Stars -->
<script>
    var series = `<%- seriesPriStr %>`

    var options = {
    series: JSON.parse(series),
        chart: {
        height: 350,
        type: 'scatter',
        zoom: {
        enabled: true,
        type: 'xy',
        },
        animations: {
            enabled: false,
            speed: 175
            }
        },
    xaxis: {
            tickAmount: 10,
            labels: {
                formatter: function(val) {
                    return parseFloat(val).toFixed(1)
                }
            }
        },
        yaxis: {
            tickAmount: 7
        }
    };

    var chartPriStr = new ApexCharts(document.querySelector("#chartPriStr"), options);
    chartPriStr.render();
</script>

<!-- Freq produto / categoria -->
<script>
    var aux = JSON.parse(`<%- freqProCat %>`)
    var series = [{data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
        }
    };

    var chartProCat = new ApexCharts(document.querySelector("#chartProCat"), options);
    chartProCat.render();
</script>

<!-- Soma preço / categoria -->
<script>
    var aux = JSON.parse(`<%- sumPriCat %>`)
    var series = [{data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
        }
    };

    var chartPriCat = new ApexCharts(document.querySelector("#chartPriCat"), options);
    chartPriCat.render();
</script>

<!-- Freq type -->
<script>
    var series = JSON.parse(`<%- seriesTyp %>`)
    var categories = JSON.parse(`<%- categoriesTyp %>`)

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
        }
    };

    var chartTypRev = new ApexCharts(document.querySelector("#chartTypRev"), options);
    chartTypRev.render();
</script>