<!-- CHART CSS DESIGN  -->
<%- include("../partials/dashboard/utils/apexcharts-frontSettings.ejs") %>
<%- include("../partials/dashboard/utils/equal_chart.ejs") %>
<%- include("../partials/dashboard/utils/left_sided_chart.ejs") %>


<!-- CUSTOM DESIGN -->
<%- include("../partials/dashboard/utils/pageBtnStyle.ejs") %>


<!-- BIG NUMBER FORMAT -->
<%- include("../partials/dashboard/styles/big_numbers.ejs") %>
<% total_records = new Intl.NumberFormat().format(total_records); %>
<% total_sum = new Intl.NumberFormat().format(total_sum); %>
<% total_authors = new Intl.NumberFormat().format(total_authors); %>
<% total_books = new Intl.NumberFormat().format(total_books); %>
<% total_publishers = new Intl.NumberFormat().format(total_publishers); %>


<!-- BIG NUMBERS -->
<div class="bigNumbers">
    <div class="bn-card bn-c-1">
        <div class="bn-card-header">
            <p>Registros Coletados</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_records %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-2">
        <div class="bn-card-header">
            <p>Valor Total</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right bn-c-2p">
                <p>R$<%= total_sum %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-3">
        <div class="bn-card-header">
            <p>Total de Autores</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_authors %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-4">
        <div class="bn-card-header">
            <p>Total de Livros</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_books %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-5">
        <div class="bn-card-header">
            <p>Total de Editoras</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_publishers %></p>
            </div>
        </div>
    </div>
</div>


<!-- LEFT MAP -->
<div class="left-sided-chart">
    <div id="chartLinPos" class="left-chart-class"></div>


    <div class="cnt-pie-chart-parent">
        <div id="chartPieRev" class="cnt-pie-chart-child"></div>
    </div>
</div>


<!-- RIGHT MAP -->
<div class="left-sided-chart">
    <div class="cnt-pie-chart-parent">
        <div id="chartPiePri" class="cnt-pie-chart-child"></div>
    </div>
    
    <div id="chartLinRev" class="left-chart-class"></div>
</div>


<!-- TREE MAP -->
<div id="chartTreeType"></div>


<!-- PAGE NAV -->
<div class="pageBtnDiv">
    <div class="BtnDiv BtnDivLeft pageBtn_ISPAGE">
      <a> <span class="iconify pageBtn-icon" data-icon="grommet-icons:form-next-link" data-rotate="180deg"></span> </a>
    </div>
  
    <div class="actPageDiv">
      <h6>1</h6>
    </div>

    <a href="/direito_2" class="otPages"> <h6>2</h6> </a>
    <a href="/direito_3" class="otPages"> <h6>3</h6> </a>
    <a href="/direito_4" class="otPages"> <h6>4</h6> </a>
  
    <div class="BtnDiv BtnDivRight">
      <a href="/direito_2"> <span class="iconify pageBtn-icon" data-icon="grommet-icons:form-next-link"></span> </a>
    </div>
</div>


<!-- date x Pos -->
<script type="text/javascript">
    var series = JSON.parse(`<%- seriesPos %>`)
    var categories = JSON.parse(`<%- categoriesPos %>`)

    var options = {
			chart: {
				height: 380,
				width: "100%",
				type: "line",
                animations: {
                    enabled: false
                }
			},
			series: series,
			title: { text: 'Variação de posições ao longo do tempo' },
			
			xaxis: {
				categories: categories,
				title: { text: 'Tempo' }
			},

            yaxis: {
                reversed: true,
				title: { text: 'Quantidade de Reviews' }
            }
		};

	var chartLinPos = new ApexCharts(document.querySelector("#chartLinPos"), options);
		
	chartLinPos.render();
</script>


<!-- Date x rev -->
<script type="text/javascript">
    var series = JSON.parse(`<%- seriesRev %>`)
    var categories = JSON.parse(`<%- categoriesRev %>`)

    var options = {
			chart: {
				height: 380,
				width: "100%",
				type: "line",
                animations: {
                    enabled: false
                }
			},
			series: series,
			title: { text: 'Quantidade de Reviews ao longo do tempo' },
			
			xaxis: {
				categories: categories,
				title: { text: 'Tempo' }
				
			},
			yaxis: { title: { text: 'Quantidade de Reviews' } }
		};

	var chartLinRev = new ApexCharts(document.querySelector("#chartLinRev"), options);
		
	chartLinRev.render();
</script>


<!-- PIE CHARTS -->
<!--PIE rev x cat -->
<script type="text/javascript">
  var series = JSON.parse(`<%- pieAvgReview %>`)
  var labels = JSON.parse(`<%- pieRevCategories %>`)

  var options = {
      series: series,
      chart: {
          type: 'donut',
          animations: {
                    enabled: true
                }
      },
      title: { text: 'Média de Reviews por produto' },
      legend: {
          show: true,
          position: 'bottom'
      },
      labels: labels,
      responsive: [
          {
              breakpoint: 1680,
              options: {
                  chart: {
                      width: '100%',
                      height: '75%'
                  },
                  legend: {
                      show: false
                  }
              }
          }
      ]
  };

  var chartPieRev = new ApexCharts(document.querySelector("#chartPieRev"), options);
  chartPieRev.render();
    
    
</script>

<!-- PIE pri x cat -->
<script type="text/javascript">

  var series = JSON.parse(`<%- pieAvgPrice %>`)
  var labels = JSON.parse(`<%- piePriCategories %>`)

  var options = {
          series: series,
          chart: {
              type: 'donut',
              animations: {
                    enabled: true
                }
          },
          legend: {
              position: 'bottom'
          },
          title: { text: 'Média de Preço por produto' },
          labels: labels,
          responsive: [
              {
                  breakpoint: 1680,
                  options: {
                      chart: {
                          width: '100%',
                          height: '75%'
                      },
                      legend: {
                          show: false
                      }
                  }
              }
          ]
      };

  var chartPiePri = new ApexCharts(document.querySelector("#chartPiePri"), options);
  chartPiePri.render();
</script>


<!-- TREEMAP: TYPE x FREQ -->
<script type="text/javascript">
    var series = JSON.parse(`<%- treeType %>`)

    var options = {
    series: series,
    legend: {
    show: false
    },
    chart: {
        height: '350px',
        width: '100%',
        type: 'treemap'
    },
    title: {
        text: 'Mapa de Árvore - Frequência por Tipo de Acabamento'
    },
    dataLabels: {
        enabled: true,
        style: {
        fontSize: '16px',
        },
        formatter: function(text, op) {
        return [text, op.value]
        },
        offsetY: -4
    },
    plotOptions: {
        treemap: {
        enableShades: true,
        shadeIntensity: 0.5,
        reverseNegativeShade: true,
        colorScale: {
            ranges: [
            {
                from: -6,
                to: 0,
                color: '#CD363A'
            },
            {
                from: 0.001,
                to: 6,
                color: '#52B12C'
            }
            ]
        }
        }
    }
    };

    var chartTreeType = new ApexCharts(document.querySelector("#chartTreeType"), options);
    chartTreeType.render();
</script>

<br />
