<!-- CHART CSS DESIGN  -->
<%- include("../partials/dashboard/utils/apexcharts-frontSettings.ejs") %>
<%- include("../partials/dashboard/utils/equal_chart.ejs") %>
<%- include("../partials/dashboard/utils/left_sided_chart.ejs") %>


<!-- CUSTOM DESIGN -->
<%- include("../partials/dashboard/styles/authorsStyle.ejs") %>


<!-- NUMBER FORMAT -->
<% mostConsistent[0].freq = new Intl.NumberFormat().format(mostConsistent[0].freq); %>
<% mostReviewed[0].reviews = new Intl.NumberFormat().format(mostReviewed[0].reviews); %>
<% mostExpensive[0].avgPrice = new Intl.NumberFormat().format(mostExpensive[0].avgPrice); %>
<% leastExpensive[0].avgPrice = new Intl.NumberFormat().format(leastExpensive[0].avgPrice); %>


<div class="best_rated_author">
  <p> Com uma média final de <span class="sp_stars"><%= mostAvgStar.data %></span> estrelas, <span class="sp_autName"><%= mostAvgStar.name %></span> obteve a melhor média de avaliações </p>
</div>


<div class="left-sided-chart">
  <div id="chartPubPri" class="left-chart-class"></div>

  <div class="content-card">
      <div class="cnt-card cnt-c1">
          <span>EDITORA MAIS CONSISTENTE</span>

          <p class="cnt-card-p1"><%= mostConsistent[0].proPublisher %></p>
          <p class="cnt-card-p2"><span><%= mostConsistent[0].freq %></span> registros</p>
      </div>

      <div class="cnt-card cnt-c2">
          <span>EDITORA COM MAIS AVALIAÇÕES</span>

          <p class="cnt-card-p1"><%= mostReviewed[0].proPublisher %></p>
          <p class="cnt-card-p2"><span><%= mostReviewed[0].reviews %></span> avaliações</p>
      </div>
  </div>
</div>


<div class="left-sided-chart">
  <div class="content-card">
      <div class="cnt-card cnt-c1">
          <span>EDITORA COM MAIOR MÉDIA DE PREÇOS</span>

          <p class="cnt-card-p1"><%= mostExpensive[0].proPublisher %></p>
          <p class="cnt-card-p2"><span>R$<%= mostExpensive[0].avgPrice %></span></p>
      </div>

      <div class="cnt-card cnt-c2">
          <span>EDITORA COM MENOR MÉDIA DE PREÇOS</span>

          <p class="cnt-card-p1"><%= leastExpensive[0].proPublisher %></p>
          <p class="cnt-card-p2"><span>R$<%= leastExpensive[0].avgPrice %></span></p>
      </div>
  </div>
  
  <div id="chartPubFreq" class="left-chart-class"></div>
</div>


<div id="chartPubRev"></div>


<!-- price avg x pub  -->
<script>
    var aux = JSON.parse(`<%- pubPri %>`)
    var series = [{name: "Média de preço", data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
          title: { text: 'Média de Preço' },
        },
        yaxis: { title: { text: 'Editoras' } },
        title: { text: 'Editoras com maior média de preço' }
    };

    var chartPubPri = new ApexCharts(document.querySelector("#chartPubPri"), options);
    chartPubPri.render();
</script>

<!-- freq x pub  -->
<script>
    var aux = JSON.parse(`<%- pubFreq %>`)
    var series = [{name: "Total de registros", data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
          title: { text: 'Total de Registros' }
        },
        yaxis: { title: { text: 'Editoras' } },
        title: { text: 'Editoras mais consistentes' }
    };

    var chartPubFreq = new ApexCharts(document.querySelector("#chartPubFreq"), options);
    chartPubFreq.render();
</script>


<!-- reviews x pub  -->
<script>
    var aux = JSON.parse(`<%- pubRev %>`)
    var series = [{name: "Qtde reviews", data: []}]
    var categories = []
    aux.forEach((r)=>{
        series[0].data.push(r.data)
        categories.push(r.name);
    })

    var options = {
          series: series,
          chart: {
          type: 'bar',
          height: 350
        },
        animations: {
            enabled: true,
            speed: 175
        },
    
        plotOptions: {
          bar: {
            borderRadius: 4,
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        xaxis: {
          categories: categories,
          title: { text: 'Quantidade total de reviews' }
        },
        yaxis: { title: { text: 'Editoras' } },
        title: { text: 'Editoras com maior quantidade de reviews' }
    };

    var chartPubRev = new ApexCharts(document.querySelector("#chartPubRev"), options);
    chartPubRev.render();
</script>



