<h1> <%= typeof catList[0] ? "sim" : "não" %></h1>
<h1> <%= catList[0] ? catList[0].catName : "não" %></h1>
<h1> <%= catList[1] ? catList[1].catName : "não" %></h1>
<h1> <%= catList[2] ? catList[2].catName : "não" %></h1>
<h1> <%= catList[3] ? catList[3].catName : "não" %></h1>
<h1> <%= catList[4] ? catList[4].catName : "não" %></h1>


<style type="text/css">
    #chart_01, #chart_02 {
        width: 480px;
        height: 480px;
    }

    .apexcharts-canvas {
        background-color: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
        -moz-box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
        box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
    }
</style>

<div id="chart_01"></div>
<div id="chart_02"></div>


<script type="text/javascript">
<<<<<<< HEAD:views/index/dashboard.ejs
=======
    var options = {
        chart: {
          type: 'line',
          toolbar: {
              show: false
          }
        },
        series: [{
          name: 'sales',
          data: [30,40,35,50,49,60,70,91,125]
        }],
        xaxis: {
          categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
        }
    }
>>>>>>> 43b6fca13ffdfb1463687c1237ca06d28d84f12b:views/index/report.ejs

  var options = {
      chart: {
        type: 'line'
      },
      series: [{
        name: 'sales',
        data: [30,40,35,50,49,60,70,91,125]
      }],
      xaxis: {
        categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
      }
  }

  var chart = new ApexCharts(document.querySelector("#chart_01"), options);
  var chart2 = new ApexCharts(document.querySelector("#chart_02"), options);

<<<<<<< HEAD:views/index/dashboard.ejs
  chart.render();
=======
    chart.render();
    chart2.render();
>>>>>>> 43b6fca13ffdfb1463687c1237ca06d28d84f12b:views/index/report.ejs
</script>