<!-- TOTAL PERIOD -->
<%
  earliest_date = earliest_date.slice(0,11).replace(/-/g, '/');
  var ed_day = earliest_date.slice(8);
  var ed_month = earliest_date.slice(4, 8);
  var ed_year = earliest_date.slice(0, 4);
  earliest_date = (ed_day + ed_month + ed_year).replace(' ', '');

  latest_date = latest_date.slice(0,11).replace(/-/g, '/');
  var ed_day = latest_date.slice(8);
  var ed_month = latest_date.slice(4, 8);
  var ed_year = latest_date.slice(0, 4);
  latest_date = (ed_day + ed_month + ed_year).replace(' ', '');
%>
<p> DADOS COLETADOS ENTRE <%= earliest_date %> E <%= latest_date %> </p>

<!-- TOTAL RECORDS -->
<p> NÚMERO DE REGISTROS COLETADOS: <%= total_records %> </p>

<!-- TOTAL AUTHORS -->
<p> TOTAL DE AUTORES: <%= total_authors %> </p>

<!-- TOTAL BOOKS -->
<p> TOTAL DE LIVROS ANALISADOS: <%= total_books %> </p>

<!-- TOTAL PUBLISHERS -->
<p> TOTAL DE EDITORAS: <%= total_publishers %> </p>

<!-- TOTAL CATEGORIES -->
<p> TOTAL DE CATEGORIAS: <%= total_categories %> </p>

<!-- TOTAL REVIEWS -->
<p> NÚMERO TOTAL DE REVIEWS: <%= total_reviews %> </p>

<!-- TOTAL PAGES -->
<p> NÚMERO TOTAL DE PÁGINAS: <%= total_pages %> </p>

<!-- AVERAGE PRODUCT PRICE -->
<% avg_price = avg_price.toString().replace('.', ',') %>
<p> PREÇO MÉDIO DOS PRODUTOS: R$<%= avg_price %> </p>

<!-- MAX PRODUCT PRICE -->
<% max_price = max_price.toString().replace('.', ',') %>
<p> PREÇO MÁXIMO ENCONTRADO: R$<%= max_price %> </p>

<!-- MIN PRODUCT PRICE -->
<% min_price = min_price.toString().replace('.', ',') %>
<p> PREÇO MÍNIMO ENCONTRADO: R$<%= min_price %> </p>

<!-- AVG STARS -->
<% avg_stars = avg_stars.toString().replace('.', ',') %>
<p> MÉDIA DE ESTRELAS NAS AVALIAÇÕES: <%= avg_stars %>/5 </p>

<!-- MAX REVIEWS PER PRODUCT -->
<p> MÁXIMO DE REVIEWS EM UM ÚNICO PRODUTO: <%= max_reviews_perbook %> </p>

<!-- AVG REVIEWS PER PRODUCT -->
<p> MÉDIA DE REVIEWS POR PRODUTO: <%= avg_reviews_perbook %> </p>


<style type="text/css">
    #chart_01, #chart_02 {
        width: 480px;
        height: 480px;
    }

    .apexcharts-canvas {
        background-color: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
        -moz-box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
        box-shadow: 0px 0px 5px 5px rgba(221,221,221,1);
    }
</style>

<!-- <div id="chart_01"></div> -->
<!-- <div id="chart_02"></div> -->


<%- contentFor("scripts") %>
<script type="text/javascript">
  var options = {
      chart: {
        type: 'line',
        toolbar: {
            show: false
        }
      },
      series: [{
        name: 'sales',
        data: [30,40,35,50,49,60,70,91,125]
      }],
      xaxis: {
        categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
      }
  }


  var chart = new ApexCharts(document.querySelector("#chart_01"), options);
  var chart2 = new ApexCharts(document.querySelector("#chart_02"), options);

  chart.render();
  chart2.render();
</script>
