<!-- CHART CSS DESIGN  -->
<%- include("../../partials/dashboard/utils/apexcharts-frontSettings.ejs") %>
<%- include("../../partials/dashboard/utils/left_sided_chart.ejs") %>


<!-- CUSTOM DESIGN -->
<%- include("../../partials/dashboard/utils/pageBtnStyle.ejs") %>


<!-- BIG NUMBER FORMAT -->
<%- include("../../partials/dashboard/styles/big_numbers.ejs") %>
<% total_records = new Intl.NumberFormat().format(total_records); %>
<% total_sum = new Intl.NumberFormat().format(total_sum); %>
<% total_authors = new Intl.NumberFormat().format(total_authors); %>
<% total_books = new Intl.NumberFormat().format(total_books); %>
<% total_publishers = new Intl.NumberFormat().format(total_publishers); %>


<!-- NUMBER FORMAT -->
<% most_reviewed_book[0].proReview = new Intl.NumberFormat().format(most_reviewed_book[0].proReview); %>
<% least_reviewed_book[0].proReview = new Intl.NumberFormat().format(least_reviewed_book[0].proReview); %>
<% author_most_books[0].countProName = new Intl.NumberFormat().format(author_most_books[0].countProName); %>
<% most_consistent_author[0].countAutCode = new Intl.NumberFormat().format(most_consistent_author[0].countAutCode); %>


<!-- BIG NUMBERS -->
<div class="bigNumbers">
    <div class="bn-card bn-c-1">
        <div class="bn-card-header">
            <p>Registros Coletados</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_records %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-2">
        <div class="bn-card-header">
            <p>Valor Total</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right bn-c-2p">
                <p>R$<%= total_sum %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-3">
        <div class="bn-card-header">
            <p>Total de Autores</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_authors %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-4">
        <div class="bn-card-header">
            <p>Total de Livros</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_books %></p>
            </div>
        </div>
    </div>

    <div class="bn-card bn-c-5">
        <div class="bn-card-header">
            <p>Total de Editoras</p>
        </div>

        <div class="bn-card-bot">
            <div class="bn-card-left">
                <!-- <span class="iconify bn-icon" data-icon="fluent:arrow-trending-lines-24-filled"></span> -->
            </div>
    
            <div class="bn-card-right">
                <p><%= total_publishers %></p>
            </div>
        </div>
    </div>
</div>


<!-- REVIEWS x PAGES -->
<div class="left-sided-chart">
    <div id="chartRevPag" class="left-chart-class"></div>

    <div class="content-card">
        <div class="cnt-card cnt-c1">
            <span>LIVRO COM MAIS REVIEWS</span>

            <p class="cnt-card-p1"><%= most_reviewed_book[0].proName %></p>
            <p class="cnt-card-p2"><span><%= most_reviewed_book[0].proReview %></span> reviews</p>
        </div>

        <div class="cnt-card cnt-c2">
            <span>LIVRO COM MENOS REVIEWS</span>

            <p class="cnt-card-p1"><%= least_reviewed_book[0].proName %></p>
            <p class="cnt-card-p2"><span><%= least_reviewed_book[0].proReview %></span> reviews</p>
        </div>
    </div>
</div>


<!-- STARS x PAGES -->
<div class="left-sided-chart">
    <div class="content-card">
        <div class="cnt-card cnt-c1">
            <span>AUTOR COM MAIS PUBLICAÇÕES</span>

            <p class="cnt-card-p1"><%= author_most_books[0].autName %></p>
            <p class="cnt-card-p2"><span><%= author_most_books[0].countProName %></span> publicações</p>
        </div>

        <div class="cnt-card cnt-c2">
            <span>AUTOR MAIS CONSISTENTE</span>

            <p class="cnt-card-p1"><%= most_consistent_author[0].autName %></p>
            <p class="cnt-card-p2"><span><%= most_consistent_author[0].countAutCode %></span> registros</p>
        </div>
    </div>
    
    <div id="chartStrPag" class="left-chart-class"></div>
</div>


<!-- PAGE NAV -->
<div class="pageBtnDiv">
    <div class="BtnDiv BtnDivLeft">
      <a href="/hqs_mangas"> <span class="iconify pageBtn-icon" data-icon="grommet-icons:form-next-link" data-rotate="180deg"></span> </a>
    </div>

    <a href="/hqs_mangas" class="otPages"> <h6>1</h6> </a>
    
    <div class="actPageDiv">
      <h6>2</h6>
    </div>
    
    <a href="/hqs_mangas_3" class="otPages"> <h6>3</h6> </a>
    <a href="/hqs_mangas_4" class="otPages"> <h6>4</h6> </a>
  
    <div class="BtnDiv BtnDivRight">
      <a href="/hqs_mangas_3"> <span class="iconify pageBtn-icon" data-icon="grommet-icons:form-next-link"></span> </a>
    </div>
</div>


<!-- REVIEWS x PAGES -->
<script type="text/javascript">
    var series_reviews_page = `<%- series_reviews_page %>`

    var optionsRevPag = {
        series: JSON.parse(series_reviews_page),
        chart: {
            height: 350,
            type: 'scatter',
            zoom: {
                enabled: true,
                type: 'xy'
            },
            animations: {
                enabled: false,
                speed: 175
            }
        },
        xaxis: {
            tickAmount: 10,
            labels: {
                formatter: function(val) {
                    return parseFloat(val).toFixed(1)
                }
            },
            title: {
                text: 'Quantidade de Reviews'
            }
        },
        yaxis: {
            tickAmount: 7,
            title: {
                text: 'Número de Páginas'
            }
        },
        title: {
            text: 'Correlação entre a Quantidade de Reviews e o Número de Páginas'
        }
    };

    var chartRevPag = new ApexCharts(document.querySelector("#chartRevPag"), optionsRevPag);
    chartRevPag.render();
</script>


<!-- STARS x PAGES -->
<script type="text/javascript">
    var series = `<%- series_stars_page %>`

    var options = {
        series: JSON.parse(series),
            chart: {
                height: 350,
                type: 'scatter',
                zoom: {
                    enabled: true,
                    type: 'xy'
                },
                animations: {
                    enabled: false,
                    speed: 175
                }
            },
            xaxis: {
                tickAmount: 10,
                labels: {
                    formatter: function(val) {
                        return parseFloat(val).toFixed(1)
                    }
                },
                title: {
                    text: 'Estrelas de Avaliações'
                }
            },
            yaxis: {
                tickAmount: 7,
                title: {
                    text: 'Número de Páginas'
                }
            },
            title: {
                text: 'Correlação entre Estrelas de Avaliações e o Número de Páginas'
            }
    };

    var chartStrPag = new ApexCharts(document.querySelector("#chartStrPag"), options);
    chartStrPag.render();
</script>
